/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

p {
    padding: 10px 20px 5px 20px;
}

div h1 {
    margin: 50px;
    position: relative;
    text-decoration: underline;
    /* border: solid 8px; */
    display: inline;
    padding: 5px;
}

div img {
    width: 200px;
    height: 100px;
}

.container {
    width: 80%;
    margin: auto;
    position: relative;
    border-radius: 5px;
    box-shadow: 10px 5px 100px rgba(0, 0, 0, 0.2);
}

/* Oculta los radios */
input[type="radio"] {
    display: none;
}

/* Estilos de las diapositivas */
.slides {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
}

.slide {
    display: none;
    padding: 40px;
    background: white;
    border-radius: 5px;
    position: absolute;
    height: 100%;
    width: 90%;
}

/* Mostrar la diapositiva seleccionada */
#slide1:checked ~ .slides #content1,
#slide2:checked ~ .slides #content2,
#slide3:checked ~ .slides #content3 {
    display: block;
}

/* Estilos para botones de navegación */
label {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}

label:hover {
    background-color: #0056b3;
}
